<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    body{
        background-color: burlywood;
    }
    h1{
        color: #333;
        text-align: center;
    }
    p{
        text-align: center;
        color: cyan;
    }
</head>
<body>

    <h1>This is The About Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia vero ipsam dolorum neque minus numquam sint, accusamus iure deleniti corporis, modi libero laudantium exercitationem omnis id nemo ab rerum reprehenderit.</p>
</body>
</html>