<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
                background-color: burlywood;
            }
            h1{
                color: #333;
                text-align: center;
            }
            p{
                text-align: center;
                color: cyan;
            }
            </style>
</head>
<body>
    <h1>This is The Conatct page!</h1>
    <p>Addres: Fake 123, Str. Lorem, ipsum., Zip</p>
</body>
</html>